<%= turbo_stream_from "#{@space.slug}_members" %>

<div class="p-2 flex flex-col gap-2 sm:gap-6 sm:p-6">

  <div class="">
    <div class="h-24 w-full"></div>
    <h1 class="font-semibold text-3xl sticky top-0 py-4 text-center">Members</h1>
    <div class="h-24 w-full"></div>
  </div>

  <%= render "controls", space: @space %>

  <ul class="max-w-md w-full flex flex-col gap-2" id="members">
    <li
      class="
        member bg-base-200 rounded-btn py-3 px-6 flex items-center space-between
      "
    >
      <span class="grow"><%= @space.owner.name %></span>
      <span class="badge badge-sm badge-primary shrink-0">owner</span>
    </li>
    <%= render partial: "member", locals: { space: @space }, collection: @members %>
    <li class="no-members p-4 text-center">No members yet</li>
  </ul>
</div>
