<div class="p-2 flex flex-col gap-2 sm:p-6">

  <%= render "application/heading", title: "Members" %>

  <%= render "form", space: @space, member: @member %>

  <%= link_to "Return to space",
  space_path(@space.slug),
  class: "link link-hover text-center mt-4" %>

</div>
