<div class="p-2 flex flex-col gap-2 sm:gap-6 sm:p-6">

  <div class="">
    <div class="h-24 w-full"></div>
    <h1 class="font-semibold text-3xl sticky top-0 py-4 text-center">Sorry!</h1>
    <div class="h-24 w-full"></div>
  </div>

  <div class="card rounded-btn bg-base-200">
    <div class="card-body">
      <h2 class="card-title">We can't find that space.</h2>
      <p>Either you are no longer a member, or the space no longer exists.</p>
      <div class="card-actions justify-end">
        <%= link_to "Back to spaces", root_path, class: "btn btn-neutral" %>
      </div>
    </div>
  </div>

</div>