@tailwind base;
@tailwind components;
@tailwind utilities;

#spaces:has(.space) .no-spaces {
  display: none;
}

#todos:has(.todo) .no-todos {
  display: none;
}

#members:has(.member) .no-members {
  display: none;
}

.space-controls::-webkit-scrollbar {
  display: none;
}

.space-controls {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}

main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.btm-nav {
    height: calc(4rem + env(safe-area-inset-bottom));
    transform: translateY(calc(env(safe-area-inset-bottom) / 2));
    /* padding-bottom: 0; */
}

.btm-nav-padding {
    padding-bottom: calc(4rem + env(safe-area-inset-bottom) / 2 );
}

.adjusted-max-height {
  max-height: calc(100dvh - (4rem + env(safe-area-inset-bottom) / 2));
}

/* :root {
  --btn-focus-scale: 0.95;
} */

.btn {
  animation: none;
}
/* 
.btn:active {
  transition: transform 0.1s !important;
} */

@media (min-width: 640px) {
  .adjusted-max-height {
    max-height: 100vh;
    padding-bottom: 4.5rem;
  }
}

@supports (animation-timeline: scroll()) {
	.space-controls a {
		animation-name: scale, scale;
		animation-fill-mode: both;
		animation-timing-function: ease-in-out;
		animation-direction: normal, reverse;
		animation-timeline: view(inline);
		animation-range: entry -50% entry 100%, exit 0% exit 150%;
	}

	@keyframes scale {
		0% { scale: 0.25; }
	}
}
