<%# locals: (title:) -%>

<div class="">
  <div class="h-24 w-full"></div>
  <h1 class="font-semibold text-3xl sticky top-0 pt-4 pb-2 text-center"><%= title %></h1>
  <div class="h-24 w-full"></div>
</div>
